@import "chromastyles";

.bg { h1,h2 {
  text-shadow: 0 0 5px #222222;
} }

footer {
  padding-bottom: 0.5rem;
  .social {
     margin-top: $vertical-rhythm;
     margin-bottom: $vertical-rhythm;
  }
}

.gallery {
  .overlay {
    h3 {
      font-size: 100%;
    }
  }
}
