$footer-bg-color: $primary-fg-color;
$footer-text-color: $primary-bg-color;

$gallery-bg-color: $primary-bg-color;
$gallery-modal-bg-color: $gallery-bg-color;
$gallery-overlay-bg-color: $primary-fg-color;
$gallery-overlay-title-color: $primary-fg-color;
